#case1{
  font-size: 10px;
}
#case2{
  font-size: 15px;
}
#case3{
  font-size: 20px;
}
#case4{
  font-size: 25px;
}
#case5{
  font-size: 30px;
}
#case6{
  font-size: 35px;
}
#case7{
  font-size: 40px;
}
#case8{
  font-size: 45px;
}
#case9{
  font-size: 50px;
}
